<div class="page-header">
	<h1>Page Header</h1>
</div>

<button class="btn btn-success">
	Click</button>
<hr />
<address>
	1234 My Street<br />
	My City, State 12345<br />
	<abbr title="phone">
		P:</abbr>
	(123) 456-7890
</address>
<hr />
<div class="btn-group">
	<a href="#" class="btn btn-primary">Edit</a>
	<a href="#" class="btn btn-info">Show</a>
	<a href="#" class="btn btn-danger">Delete</a>
</div>
<div class="btn-group">
	<a class="btn btn-warning dropdown-toggle"
		 data-toggle="dropdown"
		 href="#">
		 <i class="icon-lock icon-white"></i>
		 Do it
		 <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 1</a></li>
	</ul>
</div>
